@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-50;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}